<div class="card-header bg-light">{{pageTitle}}</div>
<div class="card">
	<div class="card-body">
		<div class="container-fluid">
			<div class="text-center">
				<img
					src="https://cdn.pixabay.com/photo/2017/10/12/22/17/business-2846221__340.jpg"
					class="img-responsive center-block"
					style="max-height: 300px; padding-bottom: 50px" />
			</div>

			<div class="text-center">Developed by:</div>
			<div class="text-center">
				<h5>David</h5>
			</div>

			<div class="text-center">
				<a href="https://github.com/D6uez">GitHub</a>
			</div>
		</div>
	</div>
</div>